
body{
    background: #fff4e1 ;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:  #6f3826 ;
}

 header{
  max-width: 150px;
  display: block;
  margin: 0 auto;
   
}

.App {
  max-width: 950px;
  margin: 0 auto;
}