.Footer {
  font-size: 15px;
  color:  #D8B692;
  text-align: center;
  margin: 30px 0;
  font-family:sans-serif;
}

.Footer a{
  text-decoration: none;
  color:  #D8B692;
}

.Footer a:hover{
  color:#8d3434 ;
}